body {
    font-family: 'San Francisco', 'Arial', sans-serif;
    background: #000000; /* Set background color to black */
    color: #ffffff; /* Set text color to white */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Disable scrolling for the entire body */
}

#password-container {
    position: fixed; /* Fix the container in the center */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000; /* Set background color to black */
    z-index: 1; /* Ensure it's above other elements */
}

#password-container label, #password-container input, #password-container button {
    margin-bottom: 15px;
    color: #ffffff; /* Set text color to white */
}

#password-container input {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff; /* Set text color to white */
}

#password-container button {
    background-color: #333;
    color: #ffffff; /* Set text color to white */
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#password-container button:hover {
    background-color: #555;
}

#hint-container {
    display: none;
    margin-top: 20px;
}

#hint {
    color: #ffffff;
    font-size: 14px;
}

.highlight-message {
    color: #ff6961; /* Bright red color for attention */
    background-color: rgba(255, 105, 97, 0.1); /* Light red background for emphasis */
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    font-weight: bold;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.95); /* Slightly smaller scale initially */
}

/* Styles when the message is visible */
.highlight-message-visible {
    visibility: visible;
    opacity: 1;
    transform: scale(1); /* Scale to normal size for a 'pop' effect */
}


@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
}

.shake {
    animation: shake 0.5s ease-in-out;
}







